<header class="d-flex flex-wrap justify-content-around py-3 mb-4 border-bottom">
    <div class="row">
        <h1 class="">Employee Management Tool</h1>
        <ul class="nav nav-pills">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a routerLink="/" class="nav-link">HOME</a>
            </li> 
            <li class="nav-item" [routerLinkActive]="['active']">
                <a routerLink="/employee" class="nav-link">EMPLOYEE</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a routerLink="/salary"  class="nav-link">SALARY</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a routerLink="/table" class="nav-link">VIEW ALL</a>
            </li> 
        </ul>
    </div>
</header>
